<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Viajes disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Viajes disponibles</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center-content">
    <ion-button color="tertiary" style="margin-top: 30px;margin-bottom: 20px" (click)="goToMenu()">Volver al Menú</ion-button>
  </div>
  

  <ng-container *ngIf="tripDetails$ | async as trips; else loading">
    <ion-card *ngFor="let trip of trips">
      <ion-card-header>
        <ion-card-title>
            Desde <strong>{{trip.origin}} -</strong>
            Hasta <strong>{{trip.destination}}</strong>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Conductor: {{ trip.driver_id.first_name }} {{ trip.driver_id.last_name }}
        <br>
        Asientos Disponibles: {{ trip.availableSeats }}
        <ion-button color="danger" style="margin-left: 70px" (click)="joinTrip(trip)" [disabled]="trip.availableSeats <= 0">Unirme</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
  
  <ng-template #loading>
    <div>Cargando...</div>
  </ng-template>
</ion-content>
