<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONDUCTOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="kr" class="ion-padding">

  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido {{ conductorInfoReceived?.nombre }}</h1>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>INFORMACIÓN DEL CONDUCTOR: </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre de Usuario: {{ conductorInfoReceived?.username }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: {{ conductorInfoReceived?.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos: {{ conductorInfoReceived?.apPaterno }} {{ conductorInfoReceived?.apMaterno }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Patente: {{ conductorInfoReceived?.patente }}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>