<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CONDUCTOR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="kr" class="ion-padding">

  <h1 class="center-content" style="padding-bottom: 50px">Bienvenido {{ adminInfoReceived?.nombre }}</h1>
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>INFORMACIÓN DEL CONDUCTOR: </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Nombre de Usuario: {{ adminInfoReceived?.username }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Nombre: {{ adminInfoReceived?.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Apellidos: {{ adminInfoReceived?.apPaterno }} {{ adminInfoReceived?.apMaterno }}</ion-label>
    </ion-item>
  </ion-list>


</ion-content>