.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-input {
    padding: 50%;
}

.example-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }