<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="userInfo$ | async as user">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nombre</ion-label>
        <ion-input [(ngModel)]="user.first_name" aria-labelledby="" disabled></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input [(ngModel)]="user.last_name" aria-labelledby="" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Tipo de Usuario</ion-label>
        <ion-input [value]="user.userType === 'Ambos' ? 'Pasajero y Conductor' : user.userType" aria-labelledby="" disabled></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Jornada</ion-label>
          <ion-input [(ngModel)]="user.jornada" aria-labelledby="" disabled></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input [(ngModel)]="user.phone" aria-labelledby="" disabled></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="user.email" aria-labelledby="" disabled></ion-input>
      </ion-item>
    </ion-list>

    <ion-button (click)="navigateToUserTypeMenu()">Volver al menu</ion-button>
  </div>
  

</ion-content>
