ion-content {
    background: transparent;
    --background: transparent;
}
  
body {
    background: transparent;
}

/* Hace que el elemento raíz html sea transparente */
html {
    background: transparent;
}

.center-content {
display: flex;
align-items: center;
justify-content: center;
}

.route-details {
display: flex;
align-items: center;
}

ion-chip {
display: flex;
align-items: center;
}

ion-icon {
margin: 0 8px;
}