<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles del Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="tripDetails$ | async as tripDetails; else loading">
    <!--- {{ tripDetails | json }} -->

    <div style="margin-top: 15px;margin-bottom: 15px;" class="center-content">
      <ion-button color="primary" style="margin-right: 20px;" (click)="goToMenu()">Volver al Menú</ion-button>
          
      <ion-button color="danger" *ngIf="isDriver()" (click)="endTrip(tripDetails.trip_id)">Finalizar Viaje</ion-button>
      <ion-button color="danger" *ngIf="!isDriver()" (click)="leaveTrip()">Salir del Viaje</ion-button>
    </div>

    <!-- Contenedor del mapa -->
    <div #map id="map" style="display: inline-block; width: 100%; height: 400px; margin-bottom: 5px;"></div>

    <ion-list>
      <ion-item style="margin: 0px;" lines="none">
        <ion-label position="stacked">Trayecto</ion-label>
      </ion-item>
      <ion-item>  
        <div class="route-details">
          <ion-chip color="primary">
            <ion-icon name="location-outline"></ion-icon>
            <ion-label>Desde {{ tripDetails?.origin }}</ion-label>
          </ion-chip>
          <ion-icon name="arrow-forward-outline"></ion-icon>
          <ion-chip color="secondary">
            <ion-icon name="flag-outline"></ion-icon>
            <ion-label>Hasta {{ tripDetails?.destination }}</ion-label>
          </ion-chip>
        </div>
      </ion-item>

      <ion-item *ngIf="tripDetails.driver_id">
        <ion-label position="stacked">Conductor</ion-label>
        <ion-input [value]="tripDetails.driver_id.first_name + ' ' + tripDetails.driver_id.last_name" aria-labelledby="" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Asientos Disponibles</ion-label>
        <ion-input [value]="tripDetails?.availableSeats"  aria-labelledby=""disabled></ion-input>
      </ion-item>

      <ion-item *ngIf="tripDetails.passengers && tripDetails.passengers.length > 0">
        <ion-list>
          <ion-label position="stacked">Pasajeros</ion-label>
          <ion-item disabled *ngFor="let passenger of tripDetails?.passengers; trackBy: trackByFn">
            <ion-label>{{ passenger.first_name }} {{ passenger.last_name }} </ion-label>
          </ion-item>
        </ion-list>
      </ion-item>

      <ion-item *ngIf="!tripDetails.passengers?.length">
        <ion-label disabled>No hay pasajeros en este viaje.</ion-label>
      </ion-item>
    </ion-list>

  </div>

  <ng-template #loading>
    <div>Cargando...</div>
  </ng-template>
</ion-content>
