ion-content {
    --background: transparent !important;
}
  
body {
    background: transparent !important;
}

.md body, .ios body {
    --ion-background-color:none;
}

html {
    background: transparent !important;
}

._gmap_cdv_ {
    --background: transparent !important;
}

.center-content {
display: flex;
align-items: center;
justify-content: center;
}

.route-details {
display: flex;
align-items: center;
}

ion-chip {
display: flex;
align-items: center;
}

ion-icon {
margin: 0 8px;
}