.splash-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/assets/img/fondo_app.png");
    background-size: 100% auto; /* Ajusta verticalmente */
    background-position: center; /* Ajusta la posición de la imagen */
    height: 100vh; /* 100% de la altura de la ventana */
    animation: fadeIn 3s ease; /* Animación de entrada de 3 segundos */
  }
  
  .splash-logo img {
    width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
    animation: bounce 1.5s infinite alternate; /* Animación de rebote */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px); /* Altura del rebote */
    }
  }