<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="center-content" style="margin: 30px;" >
    <div class="splash-logo">
      <img src="assets/img/kr_logo.png" alt="Logo de la aplicación">
    </div>
  </div>
  

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Inicia sesión</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form #loginForm="ngForm" (ngSubmit)="userLogin(userLoginModal)">
        <!-- correo -->
        <ion-input class="center-content" fill="outline" shape="rounded" labelPlacement="floating" label="Correo"
        type="email" name="email" #emailField="ngModel" [(ngModel)]="userLoginModal.email" required email>
        </ion-input>
        <div *ngIf="emailField.invalid && emailField.touched" class="error-message">
          <ion-text color="danger">Por favor ingresa un correo válido.</ion-text>
        </div>

        <!-- password -->
        <ion-input class="center-content" style="margin-top: 20px;" fill="outline" shape="rounded" labelPlacement="floating" label="Contraseña"
          type="password" name="password" #passwordField="ngModel" [(ngModel)]="userLoginModal.password" required minlength="6">
        </ion-input>
        <div *ngIf="passwordField.invalid && passwordField.touched" class="error-message">
          <ion-text color="danger">La contraseña debe tener al menos 6 caracteres.</ion-text>
        </div>

        <!-- Submit -->
        <div style="margin-top: 20px;" class="center-content">
          <ion-button type="submit" color="success" (click)="userLogin(userLoginModal)" [disabled]="loginForm.invalid">Login</ion-button>
        </div>
        
        <!-- Register -->
        <div style="margin-top: 20px;" class="center-content">
          <ion-text color="medium">¿Aún no tienes una cuenta?</ion-text>
          <ion-button fill="clear" (click)="goToRegister()">Regístrate</ion-button>
        </div>        
      </form>
      
    </ion-card-content>
    
  </ion-card>
  <div></div>
</ion-content>

<!--
  Docs
  https://ionicframework.com/docs/angular/navigation
-->