ion-card {
    --background: rgb(25, 88, 204);
    --color: #9efff0;
    margin: 0;
    padding: 10px;
    height: 100%;
    border-radius:0;
  
    display: flex;
    flex-direction: column;
  
  
  
  }
  
  ion-card-title {
    --color: #00f7ff;
  }
  
  
  
  ion-button {
    --background: rgb(255, 123, 0);
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
  
    --color: white;
  
    --border-radius: 10px;
  
    -box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 32px rgba(0, 0, 0, 0.36);
  
    --ripple-color: white;
  
    --padding-top: 10px;
    --padding-bottom: 10px;
  
  
  }
  
  a{
      color: white;
  }
  
  