ion-card {
  --background: rgb(25, 88, 204);
  --color: #9efff0;
  margin: 0;
  padding: 10px;
  border-radius: 0;

  display: flex;
  flex-direction: column;
}

.card_fondo {
  background-image: url("/assets/image/fondo_app.png");
  background-size: 100% auto; /* Ajusta verticalmente */
  background-position: center; /* Ajusta la posición de la imagen */
  color: white; /* Configura el color del texto en la tarjeta para que sea legible */
}

.card_form{
  border-radius: 5%;
  padding: 5%;
  background-color: rgba(20, 89, 200, 0.8);

}

ion-card-title {
  --color: #00f7ff;
}

ion-button {
  width: 100%;
  --background: rgb(255, 123, 0);
  --background-hover: #9efff0;
  --background-activated: #9efff0;
  --background-focused: #9efff0;

  --color: white;

  --border-radius: 10px;

  -box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4), 0 12px 32px rgba(0, 0, 0, 0.36);

  --ripple-color: white;

  --padding-top: 10px;
  --padding-bottom: 10px;
}

a {
  color: white;
}

.datos_usuario {
  --background: rgb(25, 88, 204);
  --color: #9efff0;
  margin: 0;
  padding: 10px;
  height: 100%;
  border-radius: 0;

  display: flex;
  flex-direction: column;
}

img {
  width: 50%;
  margin-bottom: 10%;
}
